In [4]:
import pandas as pd
products = pd.read_csv('https://proai.org/product-reviews.csv.gz')

In [5]:
print(products.columns)
products.head()

Index(['id', 'sentiment', 'text'], dtype='object')

    id  sentiment                                               text
0  1_1      -0.90  troubleshooting ad-2500 and ad-2600 no picture...
1  1_2      -0.15  repost from january 13, 2004 with a better fit...
2  1_3      -0.20  does your apex dvd player only play dvd audio ...
3  1_4      -0.10  or does it play audio and video but scrolling ...
4  1_5      -0.50  before you try to return the player or waste h...

In [6]:
from collections import Counter
from nltk.tokenize import casual_tokenize

bows = []
for text in products['text']:
    bows.append(Counter(casual_tokenize(text)))

In [7]:
df_products = pd.DataFrame.from_records(bows)
df_products = df_products.fillna(0).astype(int)

In [9]:
print(df_products.shape)
df_products.head()

(3546, 5687)

,troubleshooting,ad,-,2500,and,2600,no,picture,scrolling,b,...,undone,warrranty,expire,expired,voids,develops,soldier,serving,baghdad,harddisk
0,1,2,2,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0